@(store:String, itemNames:List[String])
<!DOCTYPE html>

<html>
<head>
	<title>Store Analytics</title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js" type="text/javascript"></script>
	
	<script src="@routes.Assets.at("javascripts/commons.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
		<h1>
			<b><a href="@routes.ReportingController.index()">Store Assist - Analytics</a></b>
		</h1>
    </div>
    <hr>
    
	<div id="content" class="container-fluid">
	  <div class="row-fluid">
        
        <!-- Report Filter Area --> 	  
	    <div class="span2">
        <div class="form form-horizontal">
            <span> 
                 <label for="report_type"><b>Choose a report</b></label> 
                 <select id="report_type" name="report_type">
                    <option value="overall_search" selected="selected">Overall Search Summary</option>
                    <option value="item_search">Item Search Summary</option>
                    <option value="time_search">Time Search Summary</option>
                 </select>
            </span>
            
            <span id="item_name_filter"> 
                 <label for="item_name"><b>Choose a item</b></label> 
                 <select id="item_name" name="item_name">
                    @for(item <- itemNames) {
                        <option value="@item">@item</option>
                    }
                 </select>
            </span>
                        
            <hr> 
            
            <span> 
                 <label><b>Specify a date range</b></label> 
                 <input type="date" name="start_time" id="start_time">
                 <p align="center"><i class="fa fa-long-arrow-down"></i></p>
                 <input type="date" name="end_time" id="end_time">
            </span> 
            
            <p align="center"> <br/><b>OR</b></p>
            
            <span>
                <label><b>Quick dates</b></label>
                <input type="checkbox" id="today_report" name="today_report"> Today : May 14 <br/>
                <input type="checkbox" id="yesterday_report" name="yesterday_report"> Yesterday : May 13 <br/>
                <input type="checkbox" id="last_7_days" name="last_7_days"> Last 7 days <br/>
                <input type="checkbox" id="last_30_days" name="last_30_days"> Last 30 days <br/>
                <input type="checkbox" id="current_month" name="current_month"> This Month : May <br/>
                <input type="checkbox" id="last_month" name="last_month"> Last Month : April <br/>
                <input type="checkbox" id="all_time" name="all_time"> All Time <br/>
            </span>
            <hr>
            
            <span>
                <button id="submit_report" class="btn btn-primary">Submit</button>
            </span>
        </div>
	    </div>
	    
	    <!-- Chart Area -->
	    <div class="span10">
	        <div class="row">
                <div class="span1">
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="@routes.Assets.at("images/freshmadison.png")" width="42" height="42">                
                </div>	        
                <div>
                    <h3>@store</h3>
                </div>
                	        
	        </div>
	        
            <div id="report_chart"></div>
            <div id="report_chart2"></div>
            <div class="container row" id="missing_results">
                <i class="fa fa-frown-o fa-3x span2"></i>
                <h1 class="bg-danger span10" style="color:red;">No results found for these parameters !!</h1>
            </div>
	    </div>
	    
	  </div>
	</div>

	<script type="text/javascript">
	$(document).ready(function () {
		
		initialize();
		
		function initialize()
		{
			var initStartTime = "2014-05-01";
			var initEndTime = getCurrentDate();
			$("#item_name_filter").hide();
		    loadOverallSummaryChart(initStartTime, initEndTime);
		    
		    $("#start_time").val(initStartTime);
		    $("#end_time").val(initEndTime);
		    
		    $("#missing_results").hide();
		}
		
		$("#report_type").on("change", function()  {
			var reportType = $("#report_type").val();
			if(reportType == "item_search") {
				$("#item_name_filter").show();
			}
			else {
				$("#item_name_filter").hide();
			}
		});
		
		// Generate relevant report when submit button in clicked
		$("#submit_report").on("click", function() {
			$("#missing_results").hide();
			$("#report_chart").show();
			var areFiltersValid = validateFilters();
			if(!areFiltersValid) {
			    alert("Report Filters Invalid !!");	
			}
			
			var dateMap = getDateRangeParameters();
			var startTime = dateMap['start_time'];
			var endTime = dateMap['end_time'];

			var reportType = $("#report_type").val();
			
			console.log(startTime + ',' + endTime + ',' + reportType)
			if(reportType == "overall_search") {
				$("#report_chart2").show();
				
				console.log("Loading overall search report ..");
				loadOverallSummaryChart(startTime, endTime);
			}
			else if (reportType == "item_search") {
				$("#report_chart2").hide();
				
                console.log("Loading item search summary report ..");
                loadItemSearchSummaryReport(startTime, endTime);
			}
			else {
				$("#report_chart2").hide();
				
                console.log("Loading time-based search summary report ..");
                loadTimeBasedSearchSummaryReport(startTime, endTime);
			}
		});
		
		// Generates the start and end date range, based on the reports chosen
		function getDateRangeParameters()
		{
			var dateMap = {};
			var startTime = $("#start_time").val();
			var endTime = $("#end_time").val();
			dateMap['start_time'] = startTime;
			dateMap['end_time'] = endTime;
			
			return dateMap;
		}
		
		function validateFilters()
		{
			return true;
		}
		
		// function to generate the overall summary pie chart
		function loadOverallSummaryChart(startTime, endTime)
		{
			var itemSummary = [];
	        $.ajax({
	             type: 'GET',
	             async: false,
	             url: '/all_items_search_report?startTime=' + startTime + '&endTime=' + endTime,
	             dataType: 'json',
	             success: function(data, textStatus, xhr) {
	                 $.each(data, function (item, frequency) {
	                	 itemSummary.push([item, frequency]);
	                 });
	             }
	         });
	        
            if(itemSummary.length < 1) {
                console.log("No search results found for filters : " + startTime + ", " + endTime);
                alert("No search results found for these filter parameters !!");
                $("#report_chart").hide();
                $("#report_chart2").hide();
                $("#missing_results").show();
                return;
            }
            
            var categorySummary = [];
            $.ajax({
                 type: 'GET',
                 async: false,
                 url: '/category_search_report?=startTime=' + startTime + '&endTime=' + endTime,
                 dataType: 'json',
                 success: function(data, textStatus, xhr) {
                     $.each(data, function (category, frequency) {
                    	 categorySummary.push([category, frequency]);
                     });
                 }
             });
            
            var formattedStartTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(startTime));
            var formattedEndTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(endTime));
            
	        var options = getDefaultPieChartOptions();
	        
            var options1 = jQuery.extend(true, {}, options);
            var options2 = jQuery.extend(true, {}, options);
            
	        options1.chart.renderTo = "report_chart2";
	        options1.series[0].data = itemSummary;
	        
            options1.title.text = 'Most Searched Items';
            options1.subtitle.text = 'Time : (' + formattedStartTime + ' - ' + formattedEndTime + ')'; 
            
            options1.tooltip.formatter = function() {
                return '<b>Item:</b> '+ this.point.name +
                    ', <b>Percentage</b> '+ this.percentage.toFixed(2) +' %';
            }
            
            options2.chart.renderTo = "report_chart";
            options2.series[0].data = categorySummary;
            
            options2.title.text = 'Most Searched Categories';
            options2.subtitle.text = 'Time : (' + formattedStartTime + ' - ' + formattedEndTime + ')'; 
            
            options2.tooltip.formatter = function() {
                return '<b>Category:</b> '+ this.point.name +
                    ', <b>Percentage</b> '+ this.percentage.toFixed(2) +' %';
            }
            
            var chart1 = new Highcharts.Chart(options1);
            var chart2 = new Highcharts.Chart(options2);
		}
		
		// function to generate item-based search summary report
		function loadItemSearchSummaryReport(startTime, endTime)
		{
			var item = $("#item_name").val();
			
			console.log("Item search summary report ..");
			
			var timeTokens = [];
			var searchFrequencies = [];
            $.ajax({
                type: 'GET',
                async: false,
                url: '/item_search_report?item='+item+'&startTime=' + startTime + '&endTime=' + endTime,
                dataType: 'json',
                success: function(data, textStatus, xhr) {
                    $.each(data, function (time_token, frequency) {
                    	searchFrequencies.push([Date.parse(time_token), frequency]);
                    });
                }
            });
            
            if(searchFrequencies.length < 1) {
            	console.log("No search results found for filters : " + startTime + ", " + endTime);
            	alert("No search results found for these filter parameters !!");
            	$("#report_chart").hide();
            	$("#report_chart2").hide();
            	$("#missing_results").show();
            	return;
            }
            
            console.log(searchFrequencies);
            
            var options = getDefaultLineChartOptions();
            options.chart.renderTo = "report_chart";
            options.series[0].data = searchFrequencies;
            options.series[0].type = 'column';
            options.series[0].name = 'Item Search History';
            options.series[0].pointWidth = 10;
            
            options.title.text = item + ' -  Search Summary Report';
            var formattedStartTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(startTime));
            var formattedEndTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(endTime));
            options.subtitle.text = 'Time : (' + formattedStartTime + ' - ' + formattedEndTime + ')'; 
            
            options.xAxis.title.text = 'Day';
            options.xAxis.type = 'datetime';
            //options.xAxis.tickInterval = 24 * 3600000;
            options.xAxis.min = Date.parse(startTime);
            options.xAxis.max = Date.parse(endTime);
            options.xAxis.labels.formatter = function() {
                return Highcharts.dateFormat('%b %d', this.value);
            }
            
            options.yAxis.title.text = 'Number of searches';

            options.tooltip.formatter = function() {
                return '<b>Time:</b> '+ Highcharts.dateFormat('%b %d', this.x) +
                    ', <b>Searches:</b> '+ this.y;
            }
            
			var chart = new Highcharts.Chart(options);
		}
		
		// function to generate time-based item search summary report
		function loadTimeBasedSearchSummaryReport(startTime, endTime)
		{
            console.log("Item search summary report ..");
            
            var searchFrequencies = [];
            $.ajax({
                type: 'GET',
                async: false,
                url: '/time_based_search_report?startTime=' + startTime + '&endTime=' + endTime,
                dataType: 'json',
                success: function(data, textStatus, xhr) {
                    $.each(data, function (time_token, frequency) {
                        searchFrequencies.push([Date.parse(time_token), frequency]);
                    });
                }
            });
            
            if(searchFrequencies.length < 1) {
                console.log("No search results found for filters : " + startTime + ", " + endTime);
                alert("No search results found for these filter parameters !!");
                $("#report_chart").hide();
                $("#report_chart2").hide();
                $("#missing_results").show();
                return;
            }
            
            console.log(searchFrequencies);
            
            var options = getDefaultLineChartOptions();
            options.chart.renderTo = "report_chart";
            options.series[0].data = searchFrequencies;
            options.series[0].type = 'column';
            options.series[0].name = 'Time-Based Search History';
            options.series[0].pointWidth = 10;
            
            options.title.text = 'Time-Based Search Summary Report';
            var formattedStartTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(startTime));
            var formattedEndTime = Highcharts.dateFormat('%b %d, %Y', Date.parse(endTime));
            options.subtitle.text = 'Time : (' + formattedStartTime + ' - ' + formattedEndTime + ')';
            
            options.xAxis.title.text = 'Day';
            options.xAxis.type = 'datetime';
            //options.xAxis.tickInterval = 24 * 3600000;
            options.xAxis.min = Date.parse(startTime);
            options.xAxis.max = Date.parse(endTime);
            options.xAxis.labels.formatter = function() {
                return Highcharts.dateFormat('%b %d', this.value);
            }

            options.yAxis.title.text = 'Number of searches';

            options.tooltip.formatter = function() {
                return '<b>Time:</b> '+ Highcharts.dateFormat('%b %d', this.x) +
                    ', <b>Searches:</b> '+ this.y;
            }
            
            var chart = new Highcharts.Chart(options);			
		}
		
	});
	</script>
</body>
</html>
